@model OfficeJsSnippetsService.MvcControllers.SnippetViewModel

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>*@
@*<body>
    <div class="container">*@
<div class="left">
    <h1 class="ms-font-su">@ViewBag.SnippetTitle</h1>

    <div class="body">
        <div class="message">
            @foreach (var paragraph in Model.Message)
            {
                <p class="ms-font-l">@paragraph</p>
            }
        </div>

        <a href="@Model.DownloadZipUri">
            <class class="ms-Button ms-Button--compound">
                <span class="ms-Button-label">Download this snippet</span>
                <span class="ms-Button-description">Click here to get the snippet as a zip file containing full-runnable html/js/css.</span>
            </class>
        </a>
    </div>
</div>
<div class="right">
    @if (Model.Exists)
    {
        <iframe src="@Model.IFrameUrl" />
    }
</div>
@*</div>
    </body>
    </html>*@
